body {
  font: 11px sans-serif;
  z-index: 1;
  background-color: #FCF6F5;

}
.xaxis line {
  stroke: #000;
}
.xaxis path {
  stroke: #000;
}

.axis path,
.axis line {
  
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
  pointer-events: all;
}

.graph {
  overflow: visible;
  pointer-events: all;
  width: 1000px;
}

 svg text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

#scatterplot {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 300px;
  position: absolute;
  float:left;
  overflow: hidden;
}

#bar {
  margin-top: 30px;
  width: 50%;
  height: 100%;
  float:right;
  display: inline-block;
}
#buttons{

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

#buttoncontainer{
  width: 700px;
  padding-top:20px;
  border-radius: 10px;
  margin-left:20px;
  border: 1px solid black;
}

#slider-container{
  height: 40px; 
  width: 632px;
  position: absolute;
  bottom: 50px;
  left: 55px;
}

#range-label{
  height: 25px; 
  width: 300px;
  position: absolute;
  bottom: 20px;
  left: 100px;
}

#container {
  width: 100%;
  margin-top:20px;
  height: 600px;
  position: absolute;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  border-radius: 2px;
  width: 150px;
  z-index: 2;
  cursor: default;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0,0,0,0.7);
  content: "\25BC";
  position: absolute;
  text-align: center;
  z-index: 2;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  z-index: 2;
} 

#range-label {
  font-size: 2vw;
  text-align: center;
}

@media only screen and (max-width: 970px) {
  #bar{
    display:none;
  }
  #slider-container{
    display:none;
  }
}